# autoconf tools
autom4te.cache/
build/
Makefile.in
aclocal.m4
#ar-lib
configure
.deps/
config.log
config.status
Makefile
src/fizmo-json/config.h
src/fizmo-json/stamp-h1
*~

## make...
#.dirstamp
#*.a
*.o

src/fizmo-json/fizmo-json
