# autoconf tools
autom4te.cache/
build/
Makefile.in
aclocal.m4
#ar-lib
configure
.deps/
config.log
config.status
Makefile
src/fizmo-bot/config.h.in
src/fizmo-bot/config.h
src/fizmo-bot/stamp-h1
*~

## make...
#.dirstamp
#*.a
*.o

src/fizmo-bot/fizmo-bot
